<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @broker.name %>
</p>

<p>
  <strong>Broker email:</strong>
  <%= @broker.broker_email %>
</p>

<%= link_to 'Edit', edit_broker_path(@broker) %> |
<%= link_to 'Back', brokers_path %>
